@font-face {
    font-family: CraftDeployFont;
    src: url(NotCourierSans.otf);
}

@font-face {
    font-family: CraftDeployFontBold;
    src: url(NotCourierSans-Bold.otf);
}

body {
    font-family: CraftDeployFont;
}

#craft_deploy_header { 
    font-size: 4em;
}